@font-face {
  font-family: 'Alef';
  font-style: normal;
  font-weight: 400;
  src: local('Alef Regular'), local('Alef-Regular'), url(http://themes.googleusercontent.com/static/fonts/alef/v1/tZeduU5-mwXNlHG2cx5KCvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Habibi';
  font-style: normal;
  font-weight: 400;
  src: local('Habibi'), local('Habibi-Regular'), url(http://themes.googleusercontent.com/static/fonts/habibi/v2/_qW8K8NLtlS30VjiJCqOwevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
