/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body
{
	background: #35315d;
}

#header, 
#footer, 
#artists, 
h3
{
	text-align: center;
}

#header 
{ 
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#banner
{
	width: 100%;
}

#header #title
{
	padding-top: 12px;
	font-size: 68.664px;
	text-align: center;
	letter-spacing: -3px; 
	padding-right: .5em;
	font-family: 'Sail', cursive;
}

#divide
{
	margin: 0 auto; 
	display: block;
	max-width: 400px; 
	width: 100%;
}

#header,
#footer
{
	background: #409ae6;
}

#footer 
{ 
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
} 

iframe
{
	margin: 0 auto;
}

.content
{
	padding-top: 10px; 
	padding-bottom: 10px;
}

/*div
{
	background: #4c4681;
}
*/

nav { 
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px; 
	color: #4c4681;
} 

#submenu {
	background-color: #4c4681;
	width: 100%;
} 

#artists a {
	text-transform: uppercase; 
	letter-spacing: 2px;
} 

#artistslink,
#musiclink,
#bloglink,
#storelink
{
	font-size:  2em;	
	margin-right: 10px;
	letter-spacing: 2px; 
	display: inline-block;
	line-height: 125%;
	font-family: 'Sail', cursive;
} 

h1
{
	font-family: 'Sail', cursive;
}
 
h2,
h3,
h4,
h5,
h6,
p,
a,
li, 
#selfpromotion, 
button
{
	font-family: 'Merriweather Sans', sans-serif;
}

h2
{ 
	font-size: 36.623px;
	letter-spacing: 4px;
	font-weight: 800; 
	text-align: center;
	text-transform: uppercase; 
	text-shadow: 1px 1px 1px black;
} 

h3
{
	font-size: 20px;
	font-weight: 400; 
	margin-top: 14px;
}

h6, 
#selfpromotion a, 
#selfpromotion a:visited
{
	color: #35315d;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
#selfpromotion,
#selfpromotion a:hover,
#selfpromotion a:visited:hover,
#header .artsel:hover,
#header .artsel:visited:hover,
.white,
#header #title:hover,
#header #title:visited:hover,
#header .selected, 
#header .selected:visited 
{
	color: white; 
}

#header #artistslink:hover,
#header #artistslink:visited:hover,
#header #bloglink:hover, 
#header #bloglink:visited:hover,
#header #storelink:hover, 
#header #storelink:visited:hover, 
#header #musiclink:hover, 
#header #musiclink:visited:hover 
{
	color: #409ae6;
}

p, 
a
{
	font-size: 14px; 
	line-height: 1.5em;
	font-weight: 300; 
}

p {
	letter-spacing: 1px;
}

#header #artistslink,
#header #artistslink:visited, 
#header #bloglink, 
#header #bloglink:visited, 
#header #storelink, 
#header #storelink:visited,
#header #musiclink,
#header #musiclink:visited{
	color: white;
}



#header #title,
#header .titlesel, 
#header .titlesel
{ 
	color: #35315d;
} 

nav a, 
nav a:visited
{ 
	font-size: 29.298px;
	color: white; 
} 

a, 
a:visited
{
	color: #409ae6;
	text-decoration: none;
} 

a:hover {
	color: white; 
}

.center 
{ 
	text-align: center;
} 

.padtop
{
	padding-top: 10px;
} 

.padbottom
{
	padding-bottom: 10px;
} 

.margtop
{
	margin-top: 30px; 
} 

.margbottom
{
	margin-bottom: 30px; 
} 

.bold
{
	font-weight: 700;
}

.lightpurple
{ 
	color: #4c4681;
} 

.justify
{ 
	text-align: justify;
} 

.light
{
	font-weight: 300; 
} 

.tiny
{
	font-size: .8em;
}

.initblank
{ 
	display: none;
} 


/* #Page Styles
================================================== */
#about { 
	background-color: #4c4681;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin: 14px auto;
} 

#about p {
	width: 70%; 
	padding 0 15%;
	margin: 0 auto;
}

#basecontent, 
#morecontent
{ 
	letter-spacing: 1px; 
	padding-left: 5%;
	font-weight: 300; 
}

#basecontent 
{
	line-height: 150%;
	font-size: 18px;
}

#morecontent
{
	line-height: 200%;
    font-size: 14.4px;
} 

#moreabout
{
	text-align: center; 
}

#artists
{ 
	display: inline; 
	margin-bottom: 25px;
	background-color: #35315d; 
	width: 100%;
	
} 

#artists a:hover,
#artists a:visited:hover
{
	color: white;
}

#artists .white
{ 
	color: white; 
} 

#artists a, 
#artists a:visited
{ 
	display: inline-block;
	font-weight: 400; 
	padding: 10px;
	color: #409ae6;
}

#artists2 { 
	text-align: center;
} 

#artists2 li
{
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
}

#featured,
#support
{ 
	 box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
	background: #409ae6; 
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-bottom: 20px;
	text-align: center;
} 

#featured p 
{ 
	width: 75%;
	display: block; 
	margin: 0 auto; 
	font-weight: 700;
} 

#nextlink, 
#nextlink:visited
{ 
	font-weight: 800;
	font-size: 18.75px;
	color: #35315d;
	text-transform: uppercase; 
} 

#morebutton:hover,
#morebutton:visited:hover
{ 
	color: white;
} 

#join p, 
#join a
{
	text-align: center;
	line-height: 150%;
} 

#support ul
{ 
	text-align: center;
} 

#donate 
{ 
	padding-top: 20px;
	background-color: #4c4681;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-bottom: 20px;
}

#donate p 
{
	padding: 0 10px;
	max-width: 600px;
	margin: 14px auto;
}

#nnf, 
#dream, 
#seabirds,
#logo,
#sotf,
#iwnf, 
.profilepic
{ 
	width: 100%; 
	height: 100%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	max-width: 250px;
	display: block; 
	margin: 0 auto;
} 

.albumart
{
	width: 100%; 
	height: 100%; 
	margin-top: 20px; 
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
}

.albumdetails
{
	text-align: center; 
}

#featuredart
{ 
	width: 50%;
	max-width: 500px;
	display: block; 
	margin: 0 auto; 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
} 

.artistbanner
{
	width: 100%;
	display: block; 
	margin: 20px auto;  
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
} 

#nnf
{
	margin-top: 67px;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/