/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body
{
	background: #35315d;
}

#header, 
#footer, 
#artists, 
h3
{
	text-align: center;
}

#header 
{ 
	-webkit-border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-moz-border-radius-bottomright: 25px;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
}

#banner
{
	width: 100%;
}

a #title .selected, 
a #title .selected:visited
{ 
	font-size: 2em;
	color: white; 
} 

#divide
{
	margin: 0 auto; 
	display: block;
	max-width: 400px; 
	width: 100%;
}

#subtitle 
{ 
	font-size: 1.25em;
	font-style: italic; 
} 

#header,
#footer
{
	background: #409ae6; 
	
}

#footer 
{ 
	padding-top: 15px;
	padding-bottom: 15px;
	height: 100%;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright: 25px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
} 

.content
{
	padding-top: 10px; 
	padding-bottom: 10px;
}

/*div
{
	background: #4c4681;
}
*/

nav { 
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px; 
} 

nav a {
	font-size:  2em;	
	margin-right: 10px;
	display: inline-block;
	line-height: 125%;
	font-family: 'Sail', cursive;
} 

button { 
	margin: 0 auto; 
	display: block;
	border: 2px solid white; 
	color: white; 
	background-color: #409ae6;
} 

button:hover { 
	background-color: #35315d;
	border: 2px solid white; 
	color: white;
} 

h1
{
	font-family: 'Sail', cursive;
}

h2, 
h3,
h4,
h5,
h6,
p,
a,
li, 
#selfpromotion, 
button
{
	font-family: 'Merriweather Sans', sans-serif;
}

h2
{ 
	font-size: 25px; 
	font-weight: 300; 
	text-align: center;
} 

h3
{
	font-size: 20px;
	font-weight: 700; 
}

h6, 
#selfpromotion a, 
#selfpromotion a:visited
{
	color: #35315d;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
#selfpromotion,
#selfpromotion a:hover,
#selfpromotion a:visited:hover,
#header .artsel:hover,
#header .artsel:visited:hover,
.white
{
	color: white; 
}

p, 
a
{
	font-size: 16px; 
	font-weight: 300; 
}

#header #title:hover,
#header #title:visited:hover, 
#header .selected, 
#header .selected:visited, 
#header #artistslink:hover,
#header #artistslink:visited:hover,
#header .artsel, 
#header .artsel:visited,
#header #bloglink:hover, 
#header #bloglink:visited:hover,
#header #storelink:hover, 
#header #storelink:visited:hover
{ 
	color: #35315d;
} 

#header a, 
#header a:visited
{ 
	font-size: 40px;
	color: white; 
} 

a, 
a:visited
{
	color: #409ae6;
	text-decoration: none;
} 

a:hover {
	color: white; 
}

.center 
{ 
	text-align: center;
} 

.padtop
{
	padding-top: 10px;
} 

.padbottom
{
	padding-bottom: 10px;
} 

.bold
{
	font-weight: 700;
}

.medium 
{
	font-size: 1.05em; 
} 

.big
{ 
	font-size: 1.25em;
} 

.bigass
{
	font-size: 2em;
}

.small
{ 
	font-size: .9em;
}

.initblank
{ 
	display: none;
} 


/* #Page Styles
================================================== */

#about p
{ 
	line-height: 150%;
	padding-left: 5%;
} 

#artists
{ 
	display: inline; 
	width: 200px;
	
} 

#artists .white
{ 
	color: white; 
} 

#artists a, 
#artists a:visited
{ 
	display: inline-block;
	line-height: 200%;
	font-size: 1.5em;
	padding: 0 8px 0 8px;
	color: #35315d;
}

#artists a:hover, 
#artists a:visited:hover
{ 
	color: white;
} 

#featured
{ 
	 box-sizing:border-box;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
	background: #409ae6; 
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	margin-bottom: 20px;
	text-align: center;
} 

#featured p 
{ 
	width: 75%;
	display: block; 
	margin: 0 auto; 
	font-weight: 700;
} 

#featured h3, 
#morecontent, 
#morecontent:visited
{ 
	font-family: 'Sail', cursive;
	font-size: 4em;
	font-weight: 300;
	color: #35315d;
} 

#join h3
{
	font-family: 'Sail', cursive;
	font-size: 4em;
	font-weight: 300;
	color: white;
}

#morecontent:hover,
#morecontent:visited:hover
{ 
	color: white;
} 

#join p, 
#join a
{
	text-align: center;
	line-height: 150%;
} 

#support ul
{ 
	text-align: center;
} 

#nnf, 
#dream, 
#seabirds,
#logo,
#sotf,
#iwnf
{ 
	width: 100%; 
	height: 100%;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
} 

#sotf, 
#iwnf
{
	max-width: 250px;
	display: block; 
	margin: 0 auto;
}

#featuredart
{ 
	width: 50%;
	max-width: 500px;
	display: block; 
	margin: 0 auto; 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
} 

.artistbanner
{
	width: 100%;
	display: block; 
	margin: 20px auto;  
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
} 

#nnf
{
	margin-top: 67px;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/